html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: "#35baf6";
}

.t-card {
  margin: 20px;
}

.t-card-image {
  border-radius: 10px;
  width: 250px;
  height: 250px;
  box-shadow: 0px 0px 3px 1px "#ccc";
}

.t-card-info {
  margin-top: 10px;
  min-height: 100px;
}

.t-card-title {
  font-size: 24px;
  margin: 0px;
}

.t-card-subtitle {
  font-size: 16px;
  margin: 0px;
}

.success-msg {
  font-weight: bold;
  color: #57a773;
  padding: 10px 15px;
}

.error-msg {
  font-weight: bold;
  color: #ee6352;
  padding: 10px 15px;
}

.fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.2s;
}
.fadeIn {
  opacity: 1;
  width: 100px;
  height: 100px;
  transition: width 0.5s, height 0.5s, opacity 0.2s 0.2s;
}

.img-interest {
  width: auto;
  height: auto;
}

.img-toolkit {
  width: 30%;
  height: auto;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
